{%extends 'base.html'%}

{%block title%} Sobre {%endblock%}

{%block main%}


<section>


    <div class="d-flex flex-row">
        <div>
            <img src="../static/img/ChatGPT Image 14 de dez. de 2025, 02_20_07.png" width="400">
        </div>


        <article class="about-us-text">
                <h2>O que é o Vault-76</h2>
                <br>
                 <p> O Vault-76 é um projeto feito por estudantes do curso de Análise e Desenvolvimento de Sistemas
                    e Desenvolvimento de Software Multiplataforma da FATEC-SJC, e tem como objetivo ser um projeto para
                    desenvolvimento de habilidades
                    em programação orientada a objetos, desenvolvimento WEB, princípios de segurança da informação e
                    desenvolvimento de produtos voltados a empresas.
                </p>
                 <p> O projeto consiste num cofre de senhas de uso corporativo, com funcionalidades de gestão de TI por
                    parte do administrador e consumo de API
                    para verificação de possíveis senhas vazadas.
                </p>
        </article>

    </div>


</section>



{%endblock%}