{%extends 'base.html'%}




{% block title%} Login {%endblock%}
{%block link%} <link rel="stylesheet" href="../static/login.css"> {%endblock%}

{%block header%} {%endblock%}

  {%block main%}
    <main class="d-flex">
    <div class="sidebar_login p-5">
        
    <form action="{{ url_for('index') }}" method="POST" class="needs-validation  " novalidate>
    <h1 ><img src="../static/img/ChatGPT Image 14 de dez. de 2025, 02_20_07.png" width="64" alt="" >Vault-76</h1>
 
  <div class="mt-5 mb-5 d-flex flex-row gap-3 ">
    <label for="email" class="form-label">Email</label>
    <input type="email" 
           class="form-control" 
           id="email" 
           name="email" 
           placeholder="seu@email.com" 
           required>
    <div class="invalid-feedback">
      Por favor, insira um email válido.
    </div>
  </div>

  
  <div class="mt-5 mb-5 d-flex flex-row gap-2 ">
    <label for="senha" class="form-label ">Senha</label>
    <input type="password" 
           class="form-control" 
           id="senha" 
           name="senha" 
           placeholder="Digite sua senha" 
           required>
    <div class="invalid-feedback">
      Por favor, insira sua senha.
    </div>
  </div>

  
  <input type="hidden" id="finger" name="finger">
  
  
  <input type="hidden" name="user_session_id" id="user_session_id">


  <div class="gap-2">
    <button type="submit" class="btn btn-primary btn-lg">
      Entrar
    </button>
  </div>
  
  
</form>
</div>
 <div class="svg-container">
            <div class="">
                <img src="../static/img/ChatGPT Image 14 de dez. de 2025, 02_20_07.png" width="600" alt="Vault-76 Logo">
            </div>
        </div>

</main>



<script>

  const fpPromise = import('https://openfpcdn.io/fingerprintjs/v5')
    .then(FingerprintJS => FingerprintJS.load())
  fpPromise
    .then(fp => fp.get())
    .then(result => {
      // This is the visitor identifier:
      const visitorId = result.visitorId
      document.getElementById("finger").value = visitorId;
      console.log(visitorId);
    })
   
</script>
 {%endblock%}
