{%extends "base.html"%}

{%block title%} Gerador de senhas {%endblock%}

{%block link%}
<link rel="stylesheet" href="../static/keygen.css">
{%endblock%}

{%block main%}

<section>
<div class="container-form">

    <h1>Gerador de senhas</h1>
    <h3 id = "DisplaySenha">Senha</h3>

    <form action="" class="form" id = "FormGerarSenha">

        <label for="NumeroDeCaracteresNumber"> Número de caracteres: </label>
        <div>

            <input type="range" min="10" max="60" id="NumeroDeCaracteresRange">
        </div>

        <label for="">Letras maiúsculas</label>
        <input type="checkbox" id="Maiusculas">

        <label for="">Símbolos especiais</label>
        <input type="checkbox" id="SimEspeciais">

        <label for="">Números</label>
        <input type="checkbox" id="Numeros">

        <button type="button" id = "SubmitButton">gerar senha</button>
    </form>

</div>
</section>
<script>
    const maiusculas = document.getElementById('Maiusculas')
    const numeros = document.getElementById('Numeros')
    const simbolos = document.getElementById('SimEspeciais')
    const tamanho = document.getElementById('NumeroDeCaracteresRange')
    const SubmitButton = document.getElementById('SubmitButton')
    const PasswordDisplay = document.getElementById('DisplaySenha')

    SubmitButton.addEventListener('click', async ()=> {
    const maius = maiusculas.checked; 
    const num = numeros.checked;
    const sim = simbolos.checked;
    const tam = tamanho.value;

        try{
           

            const response = await fetch('/passwordgen', {
                method : "POST",
                headers: {
                    'Content-Type': 'application/json' // Avisamos que estamos enviando JSON
                },
                body:JSON.stringify({ maiusculas: maius, numeros : num,
                    simbolos:sim, tamanho : tam
                })


            });
            const senha = await response.json();
            
            PasswordDisplay.innerText = senha.valor;
        }catch(error){
            console.log("erro ao conectar a API")
        }
    });
</script>
{%endblock%}                                     