{%extends "base_userpage/userpage_base.html"%}

{%block title%} Gerador de senhas {%endblock%}

{%block link%}
<link rel="stylesheet" href="../static/keygen.css">
{%endblock%}

{%block main%}
 <main class="main">
<section class=" d-flex  justify-content-center    " >
<div class="container-form p-5">

    <h1>Gerador de senhas</h1>
    <h3 id = "DisplaySenha">Senha</h3>

    <form action="" class="form" id = "FormGerarSenha">

        <label for="NumeroDeCaracteresNumber"> Número de caracteres: </label>
        <div>

            <input type="range" min="10" max="60" id="NumeroDeCaracteresRange">
        </div>

        <label for="">Letras maiúsculas</label>
        <input type="checkbox" id="Maiusculas">

        <label for="">Símbolos especiais</label>
        <input type="checkbox" id="SimEspeciais">

        <label for="">Números</label>
        <input type="checkbox" id="Numeros">

        <button type="button" id = "SubmitButton">gerar senha</button>
    </form>

</div>
</section>
</div>
<footer class="footer  py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">
        © 2024 Vault-76 - Todos os direitos Reservados
      </span>
    </div>
  </footer>
</main>

  
<script 
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    const maiusculas = document.getElementById('Maiusculas')
    const numeros = document.getElementById('Numeros')
    const simbolos = document.getElementById('SimEspeciais')
    const tamanho = document.getElementById('NumeroDeCaracteresRange')
    const SubmitButton = document.getElementById('SubmitButton')
    const PasswordDisplay = document.getElementById('DisplaySenha')

    SubmitButton.addEventListener('click', async ()=> {
    const maius = maiusculas.checked; 
    const num = numeros.checked;
    const sim = simbolos.checked;
    const tam = tamanho.value;

        try{
           

            const response = await fetch('/passwordgen', {
                method : "POST",
                headers: {
                    'Content-Type': 'application/json' // Avisamos que estamos enviando JSON
                },
                body:JSON.stringify({ maiusculas: maius, numeros : num,
                    simbolos:sim, tamanho : tam
                })


            });
            const senha = await response.json();
            
            PasswordDisplay.innerText = senha.valor;
        }catch(error){
            console.log("erro ao conectar a API")
        }
    });
</script>


{%endblock%}                                     

