{%extends "base_templates/userpage_base.html"%}

{%block title%} Verificador de Senhas {%endblock%}

{%block link%}
<link rel="stylesheet" href="../static/passowordverify.css">
{%endblock%}

{%block main%}
 <main class="main">
<section class=" d-flex  justify-content-center" >
<div class="container-form p-5">


    

    <form action="" class="form" id = "FormVerificaSenha">        
        
        <label for="" >Insira a senha a ser verificada!</label>
        
        <input type="text" id="SenhaDigitada">
        
        <button type="button" id = "SubmitButton">verificar senha</button>
    </form>
    <h3 id = "DisplayResultado" style="color: red;"></h3>

</div>
</section>
</div>

</main>

  
<script 
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    const senha = document.getElementById('SenhaDigitada')
    const SubmitButton = document.getElementById('SubmitButton')
    const DisplayResultado = document.getElementById('DisplayResultado')

    SubmitButton.addEventListener('click', async ()=> {
    
    const senha_para_api = senha.value;

        try{
           

            const response = await fetch('/passwordverify', {
                method : "POST",
                headers: {
                    'Content-Type': 'application/json' // Avisamos que estamos enviando JSON
                },
                body:JSON.stringify({ senha: senha_para_api})
                                                            }
                                        );
            const response_api = await response.json();
            //const textoPuro = await response.text();
            
            
            const seg_senha = response_api.response
            console.log(seg_senha)
            if(seg_senha==true){
                DisplayResultado.innerText = "Senha perigosa!";
            }
            else{
                DisplayResultado.innerText = "Senha segura!";
            }
            
        }catch(error){
            console.log("erro ao conectar a API")

        }
        
    });
</script>


{%endblock%}                                     

