{% extends 'base.html'%}


{% block title%} Cofres {%endblock%}
{%block link%}
<link rel="stylesheet" href="../static/static.css">
{%endblock%}

{%block header%} {%endblock%}


{%block main%}
<div class="d-flex h-100 ">


  <div class="sidebar p-3 bg-primary">
    <h5 class="mb-4"><img src="../../../img_readme/ChatGPT Image 14 de dez. de 2025, 02_20_07.png" width="54" alt="">
      Vault-76</h5>

    <ul class="nav flex-column gap-2">
      <li><a class="p-2 d-block rounded" href="#"><i class="bi bi-lock"></i>Cofres</a></li>
      <li><a class="p-2 d-block rounded" href="{{url_for('gerarsenha')}}"><i class="bi bg-info"></i>Gerador de senhas</a></li>
    </ul>
  </div>




  <main class="main">
    <div class="content">

      <h4 style=>Meus Cofres</h4>

      <div class="content_inline">
        <h6 class="mb-3">Filtro</h6>

        <input type="text" class="form-control mb-3 " placeholder="Procurar Cofre" id="filtro">
        
      </div>


      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalBasico">
        + Nova senha
      </button>

      <form action="{{url_for('criar_senha')}}" method="POST">
        <div class="modal fade" id="modalBasico" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Nova Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <div class="modal-body d-flex flex-column gap-2 ">
                <div>
                <label for="Nome" class="">Nome:</label>
                <input type="text" class="form-control" name="nome_site" placeholder="Nome do Site:" required >
                </div>
                <div>
                <label for="Senha" class="">Senha:</label>
                  <input type="text" class="form-control" placeholder="Senha" name="senha" required>
                </div>
                   <div>
                <label for="Senha" class="">Url:</label>
                  <input type="text" class="form-control" placeholder="Url-Não obrigatório" name="url">
                </div>
                <div>
                  <label for="Senha" class="">Descrição:</label>
                  <input type="text" class="form-control" placeholder="Descrição-Não obrigatório" name="descricao">
                </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="cards-container  ">


        {%for x in exibir_dados_usuario%}
        <div class="card p-2 ">
          <div>
            <h2>{{x['site']}}</h2>
            <div class="d-flex justify-content-center flex-column p-2">
              <p>{{x['descricao']}}</p>
              <p>{{x['url']}}</p>
            </div>
          </div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{loop.index0}}">
            Acessar</button>
        </div>

        <div class="modal " id="modal{{loop.index0}}">
          <div class="modal-dialog">
            <div class="modal-content">


              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">{{x['site']}}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
              <form action="{{url_for('update_senha')}}" method="POST">
                <div class="modal-body">
                  <input type="hidden" name="cofre_id" value="{{ x['id_senha'] }}">

                  <div class="mb-3 ">

                    <label for="senha" class="form-label">senha:</label>
                    <input type="text" class="form-control" name="senha" value="{{x['senha_hash']}} "
                      data-original="{{x['senha_hash']}}" required>
                    <label for="site">site</label>
                    <input type="text" class="form-control" name="site" value="{{x['site']}} "
                      data-original="{{x['site']}}" required>


                  </div>




                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                  <button type="submit" class="btn btn-primary">Alterar</button>

                </div>
              </form>
              <div class="divbt  ">
                <form action="{{url_for('deletar_senha')}}" method="POST">
                  <input type="hidden" name="cofre_id" value="{{ x['id_senha'] }}">
                  <button type="submit" class="btn btn-danger ">Deletar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {%endfor%}
      </div>
    </div>


     <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">
        © 2024 Vault-76 - Todos os direitos Reservados
      </span>
    </div>
  </footer>


  </main>
   
</div>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
        const todos_modal = document.querySelectorAll('.modal');

        todos_modal.forEach(function (modal) {
          modal.addEventListener('hidden.bs.modal', function () {
            const formulario = this.querySelector('form');

            if (formulario) {
              const campos = formulario.querySelectorAll('.form-control');

              campos.forEach(function (campo) {
                const valor_original = campo.getAttribute('data-original');
                campo.value = valor_original;
              });
            }
          });
        });

      

      const pesquisa=document.getElementById('filtro');
        
       pesquisa.addEventListener('input', function() {
        filtro(this.value.toLowerCase());
    });

       function filtro(pesquisa){
        const allcards=document.querySelectorAll('.card');
        let contador_cards_filtrados=0;
        allcards.forEach(card =>{
           const titulo =card.querySelector('h2').textContent.toLowerCase();
           if(titulo.includes(pesquisa)){
             card.classList.remove('hidden'); 
              
              contador_cards_filtrados+=1

          }else{
             card.classList.add('hidden'); 
            
                
              };
        

        });
        if (contador_cards_filtrados===0){
          allcards.forEach(card => {
                card.classList.remove('hidden');
                card.classList.remove('filtrado');
            });
        }

      }; ;});
      
      
      


    </script>
  


  {%endblock%}