{% extends 'base.html'%}


{% block title%} Cofres {%endblock%}
{%block link%}
<link rel="stylesheet" href="../static/static.css">
{%endblock%}

{%block header%} {%endblock%}


{%block main%}
<div class="d-flex h-100 ">


  <div class="sidebar p-3 bg-primary">
    <h5 class="mb-4"><img src="../../../img_readme/ChatGPT Image 14 de dez. de 2025, 02_20_07.png" width="54" alt="">
      Vault-76</h5>

    <ul class="nav flex-column gap-2">
      <li><a class="p-2 d-block rounded" href="#"><i class="bi bi-lock"></i>Cofres</a></li>
      <li><a class="p-2 d-block rounded" href="#"><i class="bi bg-info"></i>Gerador de senhas</a></li>
    </ul>
  </div>




  <main class="main">
    <div class="content">

      <h4 style=>Meus Cofres</h4>

      <div class="content_inline">
        <h6 class="mb-3">Filtro</h6>

        <input type="text" class="form-control mb-3 " placeholder="Procurar Cofre">
      </div>

      <button class="btn btn-primary">+ Nova senha</button>

      <div class="cards-container  ">
       

        {%for x in exibir_dados_usuario%}
        <div class="card p-2 ">
          <div>
            <h2>{{x['site']}}</h2>
            <div class="d-flex justify-content-center flex-column p-2">
              <p>{{x['descricao']}}</p>
              <p>{{x['url']}}</p>
            </div>
          </div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{loop.index0}}">
            Acessar</button>
        </div>

        <div class="modal " id="modal{{loop.index0}}">
          <div class="modal-dialog">
            <div class="modal-content">


              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">{{x['site']}}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
                <form action="{{url_for('userpage')}}" method="POST">
              <div class="modal-body">
                    <input type="hidden" name="cofre_id" value="{{ x['id_senha'] }}">
                
                <div class="mb-3 ">
                  
                  <label for="senha" class="form-label">senha:</label>
                  <input type="text" class="form-control" name="senha" value="{{x['senha_hash']}} "
                  data-original="{{x['senha_hash']}}" required>  
                  <label for="site">site</label>
                  <input type="text" class="form-control" name="site" value="{{x['site']}} "
                  data-original="{{x['site']}}" required>  
                  
    
                </div>
               



              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
<button type="submit" class="btn btn-danger">alterar</button>
 
              </div>
              </form>

            </div>
          </div>
        </div>

        {%endfor%}
      </div>
    </div>


 <script>
  document.addEventListener('DOMContentLoaded',function(){
    const todos_modal= document.querySelectorAll('.modal');
    todos_modal.forEach(function(modal){

          modal.addEventListener('show.bs.modal',function(){
            const formulario=this.querySelector('form');
            if (formulario){
               const campos_do_formulario=formulario.querySelectorAll('.form-control');
               campos_do_formulario.forEach(function(campo){
                campo.setAttribute('data-original',campo.value);

               })
            };

          });

          modal.addEventListener('hidden.bs.modal',function(){
          const formulario=this.querySelector('form')

           if (formulario){
            const campos=formulario.querySelectorAll('.form-control')
            campos.forEach(function(campo){
            const valores_fixos= campo.getAttribute('data-original');
            campo.value=valores_fixos;
             

              })
           };
          

        });
  });
});
      
     


</script>


  </main>


  {%endblock%}