{%extends 'base.html'%}
    {%block title%}{%endblock%}
    {%block link%}
    <link rel="stylesheet" href="../static/mfa.css">
    {%endblock%}
      {%block header%}
    <header class="initial-header">
        <div><h3>Vault-76 Verificação de duas etapas</h3></div>
        
    </header>
     {%endblock%}
    {%block main%}
  
   <main >
     <section class = "d-flex">   
    <div class = "mfa-login-form">
   
        <form action="{{url_for('mfa')}}" class="d-flex" method="POST">
            <label for="" class="form-label">Insira o código enviado no seu email!</label>
            <input type="text" 
            inputmode="numeric"
            maxlength="6"
            name = "MFA"
            class="form-control" 
            placeholder="Código de 6 dígitos"
            required> 

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
            </div>
              
  
        </form>
       
    </div>

            <div class = "svg-container">
                <img src="../static/img/ChatGPT Image 14 de dez. de 2025, 02_20_07.png" width="600" alt="Vault-76 Logo">
            
            </div>
    </section>



    
     
   </main>


    
  

    {%endblock%}   