.about-main {
    background-color: $surface-0;
    display: flex;
    flex-direction: column;
    gap:17rem;
    padding: 1.8rem;
    align-items: center;
    position: relative;
}

.about {
    &__cta {
        height: 80vh;
        width: 100%;
        border-radius: 1.5rem;
        background:  url(/gear_icon.svg) no-repeat center , radial-gradient(50% 50% at 50% 50%, #6E7B84 0%, #191C1E 100%);
        background-size: 60rem, auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__headers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
   

        & h1 {
            margin-bottom: 3rem;
            font-size: 4.6rem;
            color: $surface-0;
        }

        & h2 {
            color: $surface-150;
            font-weight: 500;
        }

        & p {
            width: 60%;
            text-align: center;
            font-family: $noto-family;
            line-height: 151%;
            color: rgba($surface-0, 0.8)
        }
    }

    &__authors {
        margin-bottom: 30rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
        width: 100%;
        margin: auto;

        &-header {
            transform: rotateZ(-20deg);
            width: 15%;
            font-size: 4.5rem;
            margin-left: 10rem;
            font-family: $racing-family;
            display: flex;
            flex-direction: column;
            line-height: 130%;
            color: $surface-850;

            & h3 {
                font-size: 4rem;
                font-family: $poppins-family;
                font-weight: 600;
                align-self: flex-end;
                margin-right: -15rem;
                font-style: italic;
            }
        }

        &-texts {
            display: flex;
            justify-content: space-evenly;
            font-family: $lexend-family;
            font-size: 2.2rem;
            gap: 3rem;
            line-height: 156%;
            letter-spacing: -1px;
            width: 90%;
            margin: auto;
            
            color: $surface-850;
        }
    }

    &__description {
        width: 100%;
        background:  url(/gear_icon.svg) no-repeat 15rem , url(/gear_icon.svg) no-repeat 95rem, linear-gradient(to top, 
        white 0px, white 12px,        /* Linha inferior (mais grossa) */
        transparent 12px, transparent 20px, 
        white 20px, white 28px,      /* Linha do meio */
        transparent 28px, transparent 36px, 
        white 36px, white 40px,      /* Linha superior (mais fina) */
        transparent 40px             
    ) no-repeat bottom / 100% 60px, $surface-1000;
        background-size: 35rem, 35rem, auto;
        height: 70vh;
        border-radius: 1.5rem;
        color: $surface-150;
        display: flex;
        align-items: center;
        justify-content: center;

        & p {
            width: 50%;
            text-align: center;
            font-size: 3rem;
            line-height: 156%;
        }
    }
}