.main {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $body-color;
    position: relative;
}

.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/config-vault-76.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vh;
    overflow-x: hidden;
    min-height: 0;
    gap: 1rem;
    position: relative;
}

.content {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

    &--not-found {
        height: 100vh;
        display: flex;
    }
}

h1 {
    font-size: 2.4rem;
    font-weight: 500;
    color: $surface-850;
    font-family: $lexend-family;
}
