.profile {
    &__header {
        width: 100%;
        background-color: $surface-0;
        border-radius: 1rem;
        padding: 2rem 4rem;
        box-sizing: border-box;
        border: 1px solid $surface-100;

        display: flex;
        gap: 3rem;
        align-items: center;
    }

    &__user {
        background-color: rgb(236, 29, 95);
        color: rgb(255, 155, 185);
        padding: 2.4rem;
        border-radius: 50%;
        font-size: 4rem;
        border: 1px solid $surface-100;

        & span {
            font-weight: 600;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;

        & h3 {
            font-size: 2.2rem;
            color: $surface-850;
        }

        & h4 {
            font-size: 1.6rem;
            font-weight: 600;
            color: $surface-500;
            font-family: $noto-family;
        }
        
        & h5 {
            font-size: 1.4rem;
            color: $surface-500;
            font-family: $noto-family;
        }
    }


}