
.sidebar_login{
   
    
    text-align: center;
    width: 55%;
    gap: 10px;
    color: #555555;
    background-color: white;
     border-right: solid 2px  white;
     min-height: 100vh; 
}
.sidebar_login>form{
    margin-top: 14%;
    font-size: larger;
    font-weight: 600;

   padding-top: 100px;
    
}

main{
   background-color: #EEEEEE;
}




.svg-container {
            display: flex;
            margin-top: 1%;
            align-items: center;
            justify-content: center;
            width: 45%;
            min-height: 100vh;
            
        }
        
