body {
      margin: 0;
      min-height: 100vh;
      overflow-y: auto;
      color: #555555;
      background-color: #EEEEEE;
      height: 100%;
       
      
    }

    
    .sidebar {
      width: 240px;
      color: #555555;
      
     border-right: solid 2px  white;
     min-height: 100vh; 
    
    }
    .sidebar h5{
      color: #f9d81a;
      font-size: larger;
      font-weight: 600;
    }
    .sidebar a {
      font-size: larger;
      font-weight: 600;
      color:#f9d81a;
      text-decoration: none;
    }

    .sidebar a:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

   
    .content {
      display: flex;
      margin: 0 auto;
      border-color: black solid 3px;
      flex: 1;
      
      flex-direction: column;
      width: 100%;
      align-items: center;
     padding-top: 1rem;
    }
    .content>div.card{
      display: flex;
         flex-direction: row;
    }
   .content_inline{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     width: 100%;
     flex-direction: row;
   }
   .main{
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    
    
   }
    .cards-container {
      display: flex;
      flex-wrap:wrap;
      gap: 1rem;
      justify-content: flex-start;
      width: 100%;
      margin-top: 1rem;
      max-height: calc(100vh - 200px);
      overflow-y: auto;
      
    }
    /* Personaliza a barra de rolagem */
    .cards-container::-webkit-scrollbar {
      width: 8px;
    }

    .cards-container::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    .cards-container::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }

    .cards-container::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

   .card{
    display: grid;
    width: 25%;
    height: 30%;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    border: 3px solid #555555;
    border-radius: 10px;
   }

   footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    gap: 10px;
    font-weight: 900;
    font-size: medium;

   }
