.header {
    width: 120%;
    margin-left: -10rem;
    min-height: 7rem;
    background-color: $surface-0;
    margin-bottom: 2.5rem;
}

.pseudoHeader {
    position: absolute;
    background-color: $surface-0;
    width: 100%;
    height: 7rem;
    z-index: 1;
}