.header {
    width: 120%;
    margin-left: -10rem;
    height: 8.8rem;
    background-color: $surface-0;
    margin-bottom: 2.5rem;
}

.pseudoHeader {
    position: absolute;
    background-color: $surface-0;
    width: 100%;
    height: 6rem;
    z-index: 0;
}